.inline-buttons {
    display: inline-block;
}

.viewname {
    text-transform: uppercase;
}

li a.ui-link:hover {
    text-decoration: none;
}

.layout-footer .app-name,
.layout-sidebar .app-name {
    text-transform: uppercase;
}